#bgContainer {
    height: 100vh;
    width: 100vw;
    background-image: url("../bg121.jpg");
    background-size: 100vw auto;
    background-repeat:no-repeat;
    top:0;
    right: 0;
    position:absolute;
    z-index: -1;
}

@media (orientation: portrait) {
    #bgContainer {
        background-size: auto 100vh;
        background-position:right;
    }
}

.wrapper {
    position: relative;
    height: 0;
    /* Formula is: (height / width * 100%) */
    padding-top: 100%;
  }
  
  .wrapper-img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto; 
  }


.valid-feedback, .invalid-feedback {
    position:absolute;
}

.mb-33 {
    margin-bottom: 33px;
}

.eyeopen {
    background-image: url(../eyesvg.svg);
    background-repeat:no-repeat;
    background-position:center;
    vertical-align: super;
}

.eyeclosed {
    background-image: url(../closedeye.svg);
}

/* Shop */

.shopCard {
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.cardX {
    display:grid;
    justify-content:start;
    align-content:center;
    grid-template-columns: 1fr;
}

.cardCart {
    background-image: url(../cart.svg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:50%;
}

.cardCart:hover {
    cursor:pointer;
    border-radius:25%;
    background-color: #f0f0f0;
}

.cardName {
    font-size:larger;
}

.cardXPrice {
    display:grid;
    grid-template-columns: 0.5fr 1fr;
}
.cardXinput {
    width:3em;
    border:none;
}

.cardPrice {
    padding-top:1.5px;
}


.pagination > li > span
{
    background-color: white;
    color: #212529;
}

.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > li > span:hover
{
    cursor:pointer;
}

.pagination > li.active > span
{
    color: white;
    background-color: #212529 !Important;
    border: solid 1px #212529 !Important;
}

.pagination > .active > span:hover
{
    background-color: black !Important;
    border: solid 1px black;
}

/* Cart */
.shopping-cart-container {
    height:85vh;
    position:relative;
    overflow-y:scroll;
}
.cart-item {
    display:grid;
    grid-template-columns: max-content 3fr 1fr;
}
.item-image > img {
    width: 10em;
}
.item-center {
    margin-left:10px;
}
.cart-header {
    display: flex;
    /* flex-direction: column; */
    justify-content:space-between;
}

.cart-count {
    display:flex;
}

.cart-count > p {
    margin:auto;
}


.cart-footer {
    position:sticky;
    background-color:white;
    width:100%;
    height:6%;
    bottom:0;

    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.checkout-button {
    grid-column: 2/3;
}
.footer-total {
    grid-column:3/4;
    display: grid;
    justify-content: center;
    align-content: center;
}

.zambini {
    display:grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
}

/* User */
.listDiv {
    display:flex;
    width: 250px;
    flex-direction:row;
    justify-content:space-between;

    margin-left: 25px;
}
.statusDiv {
    display: flex;
    width: 270px;
    justify-content:space-between;
}

.booksvg {
    background-image:url(../book.svg);
    background-repeat:no-repeat;
    width:30px;
    cursor: pointer;
    background-position:center;
}

.gearsvg {
    background-position:center;
    background-image:url(../gear.svg);
    background-repeat:no-repeat;
    width:30px;
    cursor: pointer;
}

.gearsvg:hover, .booksvg:hover {
    background-color: #f0f0f0;
    border-radius:25%;
}