html {
    overflow: hidden;
    /* scrollbar-width:none; */
}

#bg {
    position:absolute;
    top:0;
    right: 0;
    z-index: -1;
    height: 1368px;
}

@media (min-width: 1580px) {
    #bg {
        width: 100vw;
    }
}

@media (min-height: 1300px) {
    #bg {
        height: 100vh;
    }
}

/* #homeText {
    font-style:italic;
    position:absolute;
    z-index: 1000;
    padding: 50px;
} */